# Project information
site_name: ISO Week date
site_url: https://fbruzzesi.github.io/iso-week-date/
site_author: Francesco Bruzzesi
site_description: A toolkit to work with ISO Week date format

# Repository information
repo_name: FBruzzesi/iso-week-date
repo_url: https://github.com/fbruzzesi/iso-week-date
edit_uri: edit/main/docs/

# Configuration
watch:
  - iso_week_date
use_directory_urls: true
theme:
  name: material
  font:
    text: Ubuntu
    code: Ubuntu Mono
  icon:
    annotation: material/plus-circle
  palette:
  - media: '(prefers-color-scheme: light)'
    scheme: default
    primary: teal
    accent: deep-orange
    toggle:
      icon: material/lightbulb
      name: Switch to light mode
  - media: '(prefers-color-scheme: dark)'
    scheme: slate
    primary: teal
    accent: deep-orange
    toggle:
      icon: material/lightbulb-outline
      name: Switch to dark mode
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.indexes
    - navigation.footer
    - navigation.top
    - navigation.tracking

    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.tooltips
    - content.tabs.link

    - search.suggest
    - search.highlight
    - search.highlight
    - search.share
    - search.suggest

    - toc.follow

  logo: img/iso-week-date-logo.svg
  favicon: img/iso-week-date-logo.svg

# Plugins
plugins:
  - autorefs
  - mkdocstrings
  - search:
      separator: '[\s\-,:!=\[\]()"`/]+|\.(?!\d)|&[lg]t;|(?!\b)(?=[A-Z][a-z])'

# Customization
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/fbruzzesi
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/francesco-bruzzesi/
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/iso-week-date/

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - codehilite
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

nav:
  - Home:
    - Home: index.md
    - Installation: installation.md
    - Contributing: contribute.md
  - User Guide:
    - Features: user-guide/features.md
    - Quickstart: user-guide/quickstart.md
    - Dataframe modules: user-guide/dataframe-modules.md
    - Working with Pydantic: user-guide/pydantic.md
    - Internals: user-guide/internals.md
  - API Reference:
    - Base: api/baseisoweek.md
    - IsoWeek: api/isoweek.md
    - IsoWeekDate: api/isoweekdate.md
    - pandas_utils: api/pandas.md
    - polars_utils: api/polars.md
    - Mixin's: api/mixins.md
