[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "iso-week-date"
version = "0.2.2"
description = "Toolkit to work with str representing ISO Week date format"

license = {file = "LICENSE"}
readme = "README.md"
requires-python = ">=3.8"
authors = [{name = "Francesco Bruzzesi"}]

dependencies = [
    "typing-extensions; python_version < '3.12'",
]

classifiers = [
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "License :: OSI Approved :: MIT License"
]

[project.urls]
repository = "https://github.com/fbruzzesi/iso-week-date"
issue-tracker = "https://github.com/fbruzzesi/iso-week-date/issues"
documentation = "https://fbruzzesi.github.io/iso-week-date/"

[project.optional-dependencies]
pandas = [
    "pandas",
]

polars = [
    "polars>=0.18.0",
]

dev = [
    "pre-commit==2.21.0",
    "hatch"
]

lint = [
    "black>=23.3.0",
    "isort>=5.12.0",
    "ruff>=0.0.291"
]

docs = [
    "mkdocs>=1.4.2",
    "mkdocs-material>=9.2.0",
    "mkdocstrings[python]>=0.20.0",
    "mkdocs-autorefs"
]

test = [
    "interrogate>=1.5.0",
    "pytest==7.2.0",
    "pytest-xdist==3.2.1",
    "coverage==7.2.1",
]

all = ["iso-week-date[pandas,polars]"]
all-dev = ["iso-week-date[pandas,polars,dev,lint,test,docs]"]

[tool.setuptools.packages.find]
include = ["iso_week_date*"]
exclude = [
    "data",
    "docs",
    "docker",
    "kubernetes",
    "notebooks",
    "results",
    "tests",
]

[tool.setuptools.package-data]
iso_week_date = ["py.typed"]

[tool.black]
line-length = 90
target_version = ["py310"]
workers = 4

[tool.isort]
py_version = 310
profile = "black"
line_length = 90

[tool.ruff]
line-length = 90
ignore = [
    "E731",  # do not assign a `lambda` expression, use a `def`
    ]

[tool.interrogate]
ignore-nested-functions = true
ignore-module = true
ignore-init-method = true
ignore-private = true
ignore-magic = true
ignore-property-decorators = true
fail-under = 95
verbose = 2 # 0 (minimal output), 1 (-v), 2 (-vv)

[tool.mypy]
ignore_missing_imports = true

[tool.coverage.run]
source = [
    "iso_week_date/",
    ]
